@using UXR.Studies.Controllers;

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>UXR</h1>
</div>

@if (Request.IsAuthenticated && User.IsInRole(UXR.Models.UserRoles.APPROVED))
{
    <div class="row">
        <div id="calendar" class="col-md-12">
            @{Html.RenderAction(nameof(SessionController.Calendar), SessionController.ControllerName, new { area = "Studies", model = ViewData.Model });}
        </div>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-warning lftPad">

        @ViewBag.Error<br />
        @ViewBag.CallStack
    </div>
}

@if (Request.IsAuthenticated && !User.IsInRole(UXR.Models.UserRoles.APPROVED))
{
    <div class="alert alert-warning lftPad">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>
            Your account needs to be approved by an admin.
        </strong>
    </div>
}

@section scripts{
    @if (Request.IsAuthenticated && User.IsInRole(UXR.Models.UserRoles.APPROVED))
    {
        <script type="text/javascript">
    function updateCalendar() {
        $("#calendar").load('@(Url.Action(nameof(SessionController.Calendar), SessionController.ControllerName, new { area = "Studies" }, Request.Url.Scheme))');
        setTimeout(updateCalendar, 5000);
    }

    $(document).ready(function () {
        setTimeout(updateCalendar, 5000);
    });
        </script>
    }
}
